// Localisation

.localisation {
    background-color: $bg-dark-gray;
    color: $localisation-color;
    display: flex;
    justify-content: center;
    padding: $padding-localisation;
    position: relative;
    box-shadow: $shadow-localisation ;

    &__text {
        font-size: 1.1rem;
    }
}

.localisation i {
    font-size: 1.1rem;
    margin-right: 15px;
}

// Exploration

.exploration {
    background-color: $bg-light-gray;
    padding: 40px;
    text-align: center;

    &__title {
        font-size: 1.55rem;
        font-weight: $bold;
        margin-bottom: 15px;
    }

    &__text {
        font-size: 1.1rem;
        font-weight: $thin;
        margin-bottom: 30px;
    }
}