// Fonts 

$font-logo: "Shrikhand", serif;
$font-regular: "Roboto", sans-serif;

// Font-Weight 

$thin: 100;
$regular: 400;
$bold: 700;

// Colors

$primary-color : #9356DC;
$secondary-color : #FF79DA;
$tertiary-color : #99E2D0;