// Fonts 

$font-logo: "Shrikhand", serif;
$font-regular: "Roboto", sans-serif;

// Font-Size

$size-title : 1.5rem;

// Font-Weight 

$thin: 100;
$regular: 400;
$bold: 700;

// Colors

$primary-color : #9356DC;
$secondary-color : #FF79DA;
$tertiary-color : #99E2D0;
$localisation-color : #353535;

// Background

$bg-dark-gray : rgb(234, 234, 234);
$bg-light-gray : rgb(246, 246, 246);

// Box Shadow 

$shadow-header : 0px 2px 4px rgb(192, 188, 188);
$shadow-localisation : 0px 4px 3px rgb(185, 185, 185);

// Padding Layout

$padding-header : 10px 0;
$padding-localisation : 20px 0;
$padding-exploration : 50px 40px;
$padding-duo : 50px 15px;